* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
    background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);


}
.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}
.clock {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(40px);

}
.container::before {
    content: '';
    width: 180px;
    height: 180px;
    background: aqua;
    border-radius: 10px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;

}
.container::after {
    content: '';
    width: 180px;
    height: 180px;
    background: aqua;
    border-radius: 10px;
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: -1;
}
.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after {
    font-size: 16px;
    position: absolute;
    font-size: 16px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SEC';
}
@media only screen and (max-width: 890px) {
    .container {
        width: 700px;
}
.clock span {
    font-size: 40px;
    font-weight: bold;
}
#hrs::after{
    font-size: 10px;
}
#min::after{
    font-size: 10px;
}
#sec::after{
    font-size: 10px;

}
}
@media only screen and (max-width: 798px) {
    .container {
        width: 600px;
}
.clock span {
    font-size: 40px;
    font-weight: bold;
}
#hrs::after{
    font-size: 10px;
}
#min::after{
    font-size: 10px;
}
#sec::after{
    font-size: 10px;

}
}
@media only screen and (max-width: 698px) {
    .container {
        width: 400px;
}
.clock span {
    font-size: 40px;
    font-weight: bold;
}
#hrs::after{
    font-size: 10px;
}
#min::after{
    font-size: 10px;
}
#sec::after{
    font-size: 10px;
}

@media only screen and (max-width: 497px) {
    .container {
        width: 300px; 
    }

    .clock span {
        font-size: 30px; 
    }

    #hrs::after,
    #min::after,
    #sec::after {
        font-size: 8px; 
    }
}
@media only screen and (max-width: 390px) {
    .container {
        width: 250px; 
    }

    .clock span {
        font-size: 20px; 
    }

    #hrs::after,
    #min::after,
    #sec::after {
        font-size: 6px; 
    }
}
}